<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\visual_paradigm_publish\content</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>48</code></li>
<li><code>thought_uid</code> - <code>C4FF8587-D997-C072-6A63-8D6BF7A094CC</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/smG2FNqGAqAAAhcQ</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Visual Paradigm Source Content Overrides</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%34%37%26webthought_id%3D%34%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FfaeKFNqGAqAAAhUt"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FsmG%32FNqGAqAAAhcQ"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FsmG%32FNqGAqAAAhcQ"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/C%34FF%38%35%38%37-D%39%39%37-C%30%37%32-%36A%36%33-%38D%36BF%37A%30%39%34CC"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/visual_paradigm_publish/content/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-48"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Cblank_menu.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>blank_menu.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Cdiagram_navigator.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>diagram_navigator.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Clink_popup.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>link_popup.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Cproject_content.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>project_content.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Creport.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>report.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Creport.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>report.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Ccontent%5Ctooltip.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>tooltip.js</code></li>
</ul>
