<h2 id="readme">README</h2>
<p><code>C:\_\daw\_extra\vp\vpworkspace\.seprefdata</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>76</code></li>
<li><code>thought_uid</code> - <code>61015E65-14F1-22A2-F0CD-F95C422ADA97</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/YCLtFNqGAqAAAhoY</code></li>
<li><code>FmColorName</code> - <code>red-light</code></li>
<li><code>ColorHex</code> - <code>#FDA79B</code></li>
<li><code>ColorRgb</code> - <code>253,167,155</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-light-48.png" /></a> <em>Visual Paradigm Application Preferences</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%35%26webthought_id%3D%37%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZLutFNqGAqAAAhoG"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FYCLtFNqGAqAAAhoY"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FYCLtFNqGAqAAAhoY"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%36%31%30%31%35E%36%35-%31%34F%31-%32%32A%32-F%30CD-F%39%35C%34%32%32ADA%39%37"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/_extra/vp/vpworkspace/.seprefdata/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-76"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.layout%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%37%26webthought_id%3D%37%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FgUYdFNqGAqAAAhoq"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.layout%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%37%26webthought_id%3D%37%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FgUYdFNqGAqAAAhoq"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.layout</code> - Visual Paradigm Application Layout Preferences</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.colorFormat"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.colorFormat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.genericShapeStencil"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.genericShapeStencil</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.perspective"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.perspective</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.recentOpenFiles"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.recentOpenFiles</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5C.shadowFormat"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.shadowFormat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.seprefdata%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
