<h2 id="readme">README</h2>
<p><code>C:\_\daw\_extra\vp\vpworkspace\.vpprefdata\modelTypePreferData</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>82</code></li>
<li><code>thought_uid</code> - <code>B9DB7E47-6D22-3B6B-B075-E639134CAC95</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/Bae9FNqGAqAAAhqA</code></li>
<li><code>FmColorName</code> - <code>red-light</code></li>
<li><code>ColorHex</code> - <code>#FDA79B</code></li>
<li><code>ColorRgb</code> - <code>253,167,155</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-light-48.png" /></a> <em>Visual Paradigm Model Type Defaults</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%38%26webthought_id%3D%37%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FOrJdFNqGAqAAAhpD"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-light-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FBae%39FNqGAqAAAhqA"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FBae%39FNqGAqAAAhqA"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/B%39DB%37E%34%37-%36D%32%32-%33B%36B-B%30%37%35-E%36%33%39%31%33%34CAC%39%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/_extra/vp/vpworkspace/.vpprefdata/modelTypePreferData/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-82"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li>Unknown</li>
</ul>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CActor"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Actor</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CArtifact"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Artifact</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CBMMStrategy"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BMMStrategy</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CBMMTactic"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BMMTactic</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CBusinessRule"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessRule</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CBusinessRuleGroup"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessRuleGroup</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CClass"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Class</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CComponent"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Component</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CDiagramOverview"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DiagramOverview</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CFactType"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FactType</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CGlossary"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Glossary</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CInstanceSpecification"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InstanceSpecification</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CModel"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Model</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CNode"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Node</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CPackage"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Package</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CRectangle"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Rectangle</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CSubsystem"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Subsystem</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CUILabel"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UILabel</code> - Text, unstudied format</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_extra%5Cvp%5Cvpworkspace%5C.vpprefdata%5CmodelTypePreferData%5CUITabbedHeader"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UITabbedHeader</code> - Text, unstudied format</li>
</ul>
