<h2 id="readme">README</h2>
<p><code>C:\_\daw\_tools</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>86</code></li>
<li><code>thought_uid</code> - <code>4858DEB2-C10C-B67F-F5F1-7AF27528292F</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/Wwvr5NqGAqAAAg0e</code></li>
<li><code>FmColorName</code> - <code>red-dark</code></li>
<li><code>ColorHex</code> - <code>#F43F2A</code></li>
<li><code>ColorRgb</code> - <code>244,63,42</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C_tools"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-48.png" /></a> <em>Various Batch Tools</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FWwvr%35NqGAqAAAg%30e"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FWwvr%35NqGAqAAAg%30e"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%34%38%35%38DEB%32-C%31%30C-B%36%37F-F%35F%31-%37AF%32%37%35%32%38%32%39%32F"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/_tools/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-86"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Caip.au%33"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>aip.au3</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Caip.reg"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>aip.reg</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdeploy.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>deploy.bat</code> - Deploy to Galaxy - obsolete</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-esdoc-pt%31.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-esdoc-pt1.bat</code> - Helper</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-esdoc.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-esdoc.bat</code> - Create EsDoc Report</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-plato-pt%31.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-plato-pt1.bat</code> - Helper</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-plato-style-rev.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-plato-style-rev.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-plato-style.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-plato-style.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-plato.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-plato.bat</code> - Create Plato Report</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-vp-ftp-update.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-vp-ftp-update.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-vp-publish-rev-style.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-vp-publish-rev-style.bat</code> - Copy VP styles from published to assets</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-vp-publish-style.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-vp-publish-style.bat</code> - Helper to <code>do-vp-publish.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-vp-publish-upload.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-vp-publish-upload.bat</code> - Helper to <code>do-vp-publish.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cdo-vp-publish.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-vp-publish.bat</code> - Create Visual Paradigm Publish, after generated from VP</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Cesdoc.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>esdoc.json</code> - EsDoc Configuration</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5Creadme-folder-ini.au%33"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>readme-folder-ini.au3</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_tools%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
