<h2 id="readme">README</h2>
<p><code>C:\_\daw</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>2</code></li>
<li><code>thought_uid</code> - <code>8F73CDE7-7495-5B1D-E9FE-69B3ABBA36D7</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/E16L5NqGAqAAAgwr</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Discount Ascii Warehouse Project</em></p>
<p>React/Node Demo for X-Team</p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%38F%37%33CDE%37-%37%34%39%35-%35B%31D-E%39FE-%36%39B%33ABBA%33%36D%37"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-2"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%37%26webthought_id%3D%32%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fd%36Pr%35NqGAqAAAgzf"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%37%26webthought_id%3D%32%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fd%36Pr%35NqGAqAAAgzf"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.assets</code> - Various Assets for tools and site</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.git%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%39%35%26webthought_id%3D%39%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fm%32Pr%35NqGAqAAAgzm"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.git%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%39%35%26webthought_id%3D%39%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fm%32Pr%35NqGAqAAAgzm"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.git</code> - Wrapper Repository</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%31%26webthought_id%3D%35%31%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%31.Pr%35NqGAqAAAgzt"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%31%26webthought_id%3D%35%31%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%31.Pr%35NqGAqAAAgzt"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.idea</code> - Webstorm Configuration</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%39%26webthought_id%3D%35%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FMxPr%35NqGAqAAAgz%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%39%26webthought_id%3D%35%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FMxPr%35NqGAqAAAgz%30"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.scrap</code> - Developer Scrap Area</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.temp%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%35%26webthought_id%3D%36%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F_VPr%35NqGAqAAAgz%37"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.temp%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%35%26webthought_id%3D%36%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F_VPr%35NqGAqAAAgz%37"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.temp</code> - Developer Temp Area</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.types%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%36%26webthought_id%3D%36%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FY%39Pr%35NqGAqAAAg%30C"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.types%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%36%26webthought_id%3D%36%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FY%39Pr%35NqGAqAAAg%30C"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.types</code> - Types Local to project for Webstorm</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.webstorm%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%37%26webthought_id%3D%36%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%37zPr%35NqGAqAAAg%30J"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.webstorm%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%37%26webthought_id%3D%36%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%37zPr%35NqGAqAAAg%30J"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.webstorm</code> - Global Types for Webstorm</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C._esdoc%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%26webthought_id%3D%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FPQPr%35NqGAqAAAgzK"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._esdoc</code> - EsDoc Output</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C._plato%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%31%34%26webthought_id%3D%31%34%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FJMPr%35NqGAqAAAgzR"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._plato</code> - Plato Report Output</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C._vphtml%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%35%26webthought_id%3D%32%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FsiPr%35NqGAqAAAgzY"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._vphtml</code> - Visual Paradigm Output Home</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5Capi%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%37%26webthought_id%3D%38%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZ%30vr%35NqGAqAAAg%30l"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5Capi%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%37%26webthought_id%3D%38%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZ%30vr%35NqGAqAAAg%30l"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>api</code> - Server</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%38%26webthought_id%3D%38%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FOyvr%35NqGAqAAAg%30s"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%38%26webthought_id%3D%38%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FOyvr%35NqGAqAAAg%30s"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>app</code> - Main Application</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%38%26webthought_id%3D%36%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%35PPr%35NqGAqAAAg%30Q"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%38%26webthought_id%3D%36%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%35PPr%35NqGAqAAAg%30Q"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>_docs</code> - Project Readmes</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%32%26webthought_id%3D%37%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FR_Pr%35NqGAqAAAg%30X"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_extra%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%32%26webthought_id%3D%37%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FR_Pr%35NqGAqAAAg%30X"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>_extra</code> - Extra Items</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_tools%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%36%26webthought_id%3D%38%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FWwvr%35NqGAqAAAg%30e"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_tools%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%36%26webthought_id%3D%38%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FWwvr%35NqGAqAAAg%30e"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>_tools</code> - Various Batch Tools</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C%21w.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!w.txt</code> - Scratchpad</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.babelrc"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.babelrc</code> - presets: <code>es2015</code>, <code>stage-0</code>, <code>react</code>; plugins: <code>transform-decorators-legacy</code>; env.build.optional: <code>optimisation</code>, <code>minification</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.editorconfig"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.editorconfig</code> - space,2</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.eslintignore"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.eslintignore</code> - <code>node_modules/**</code>, <code>**/*.css</code>, <code>**/*.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.eslintrc"><img src="http://mrobbinsassoc.com/images/icons/md/_eslintrc-16.png" /></a> <code>.eslintrc</code> - ecmaVersion: <code>2016</code>, sourceType: <code>module</code>, <code>jsx</code>, <code>browser</code>, <code>node</code>, <code>jest</code>, extends: <code>eslint-config-airbnb</code>, spaces 2</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.gitignore"><img src="http://mrobbinsassoc.com/images/icons/md/_gitignore-16.png" /></a> <code>.gitignore</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Cdaw.vpj"><img src="http://mrobbinsassoc.com/images/icons/md/_vpj-16.png" /></a> <code>daw.vpj</code> - SlickEdit Project</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Cdaw.vpw"><img src="http://mrobbinsassoc.com/images/icons/md/_vpw-16.png" /></a> <code>daw.vpw</code> - SlickEdit Workspace</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Cpackage.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>package.json</code> - scripts <code>lint</code>, <code>test</code>, <code>test-coverage</code>, <code>buid</code>, <code>start</code>, <code>deploy</code>, <code>deploy-windows</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>README.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5CRMF.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>RMF.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Cwebpack.config.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>webpack.config.js</code> - app:<code>:8080</code>, api:<code>:8000</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Cwebpack.production.config.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>webpack.production.config.js</code> - entry:<code>app/main.jsx</code></li>
</ul>
