<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>27</code></li>
<li><code>thought_uid</code> - <code>D1EBF941-D09A-E120-28A4-C975B9F5A571</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/d6Pr5NqGAqAAAgzf</code></li>
<li><code>FmColorName</code> - <code>white-light</code></li>
<li><code>ColorHex</code> - <code>#FDFDFD</code></li>
<li><code>ColorRgb</code> - <code>253,253,253</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-48.png" /></a> <em>Various Assets for tools and site</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fd%36Pr%35NqGAqAAAgzf"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fd%36Pr%35NqGAqAAAgzf"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/D%31EBF%39%34%31-D%30%39A-E%31%32%30-%32%38A%34-C%39%37%35B%39F%35A%35%37%31"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-27"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>&lt; more-types&gt;</code></li>
</ul>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%39%26webthought_id%3D%32%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FooEKFNqGAqAAAhT%35"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%39%26webthought_id%3D%32%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FooEKFNqGAqAAAhT%35"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>esdoc</code> - EsDoc enhancements, css and script</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%33%26webthought_id%3D%33%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FGGMKFNqGAqAAAhUF"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%33%26webthought_id%3D%33%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FGGMKFNqGAqAAAhUF"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>fonts</code> - Font Assets</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cimages%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%35%26webthought_id%3D%33%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FpXCKFNqGAqAAAhUP"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cimages%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%35%26webthought_id%3D%33%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FpXCKFNqGAqAAAhUP"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>images</code> - Image Assets, Originals</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cnode_modules%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%36%26webthought_id%3D%33%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FLDKKFNqGAqAAAhUZ"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cnode_modules%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%36%26webthought_id%3D%33%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FLDKKFNqGAqAAAhUZ"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>node_modules</code> - see <code>/_tools/reset-nm.bat</code> :: Dummy Directory for preserving Icon</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%37%26webthought_id%3D%33%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FQdmKFNqGAqAAAhUj"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%37%26webthought_id%3D%33%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FQdmKFNqGAqAAAhUj"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>plato</code> - Plato Publish Overrides</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%34%37%26webthought_id%3D%34%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FfaeKFNqGAqAAAhUt"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%34%37%26webthought_id%3D%34%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FfaeKFNqGAqAAAhUt"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>visual_paradigm_publish</code> - Visual Paradigm Publish Overlay Assets</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5C_crushed%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%38%26webthought_id%3D%32%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fg%38wKFNqGAqAAAhTt"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5C_crushed%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%38%26webthought_id%3D%32%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fg%38wKFNqGAqAAAhTt"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>_crushed</code> - temp crush folder :: Temp Crushed Images</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
