<h2 id="readme">README</h2>
<p><code>C:\_\daw\app\components</code></p>
<ul>
<li><code>FmColorName</code> - <code>cyan</code></li>
<li><code>ColorHex</code> - <code>#78C9FC</code></li>
<li><code>ColorRgb</code> - <code>120,201,252</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5Ccomponents"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-48.png" /></a> <em>React Components</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%38%38%26webthought_id%3D%38%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FOyvr%35NqGAqAAAg%30s"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5Ccomponents%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/app/components/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5Ccomponents%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
