<h2 id="readme">README</h2>
<p><code>C:\_\daw\.scrap\eslint\full</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>63</code></li>
<li><code>thought_uid</code> - <code>2D8465CB-69B3-3541-48CD-F60F74C66FA5</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/xQ65FNqGAqAAAhkJ</code></li>
<li><code>FmColorName</code> - <code>yellow</code></li>
<li><code>ColorHex</code> - <code>#F2FE7B</code></li>
<li><code>ColorRgb</code> - <code>242,254,123</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cfull"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-48.png" /></a> <em>EsLint RC File</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%32%26webthought_id%3D%36%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FkJc%35FNqGAqAAAhj%35"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cfull%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FxQ%36%35FNqGAqAAAhkJ"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FxQ%36%35FNqGAqAAAhkJ"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%32D%38%34%36%35CB-%36%39B%33-%33%35%34%31-%34%38CD-F%36%30F%37%34C%36%36FA%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.scrap/eslint/full/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-63"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cfull%5C.eslintrc"><img src="http://mrobbinsassoc.com/images/icons/md/_eslintrc-16.png" /></a> <code>.eslintrc</code> - Settings</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cfull%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
