<h2 id="readme">README</h2>
<p><code>C:\_\daw\_docs</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>68</code></li>
<li><code>thought_uid</code> - <code>A8231A37-53EC-D438-6892-CFC21DC6EA16</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/5PPr5NqGAqAAAg0Q</code></li>
<li><code>FmColorName</code> - <code>yellow-dark</code></li>
<li><code>ColorHex</code> - <code>#E6F940</code></li>
<li><code>ColorRgb</code> - <code>230,249,64</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-48.png" /></a> <em>Project Readmes</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%35PPr%35NqGAqAAAg%30Q"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%35PPr%35NqGAqAAAg%30Q"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/A%38%32%33%31A%33%37-%35%33EC-D%34%33%38-%36%38%39%32-CFC%32%31DC%36EA%31%36"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/_docs/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-68"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>&lt;platform&gt;.md</code></li>
<li><code>&lt;aspect&gt;.md</code></li>
</ul>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Cprocedures%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%39%26webthought_id%3D%36%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FIt%33VFNqGAqAAAhlu"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Cprocedures%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%39%26webthought_id%3D%36%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FIt%33VFNqGAqAAAhlu"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>procedures</code> - Markdowns For Procedure Instructions</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Csnapshots%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%30%26webthought_id%3D%37%30%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FtmQ%31FNqGAqAAAhl%37"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Csnapshots%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%30%26webthought_id%3D%37%30%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FtmQ%31FNqGAqAAAhl%37"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>snapshots</code> - Screenshot <code>png</code>s</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Cstages%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%31%26webthought_id%3D%37%31%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FaqU%31FNqGAqAAAhmL"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Cstages%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%37%31%26webthought_id%3D%37%31%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FaqU%31FNqGAqAAAhmL"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>stages</code> - Like <code>proceedures</code> but at project startup and config</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cconventions.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>conventions.md</code> - Tree Categorized Convention Lists</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cfacts.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>facts.md</code> - List in order of Discovery</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Clog.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>log.md</code> - Zdot List Description</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cobserve.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>observe.md</code> - List - not quite <code>seems</code>, which are more important witnessings, observe is more general and less critical</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>README.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5CRMF-_docs.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>RMF-_docs.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cseems.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>seems.md</code> - Tree Categorized Lists - Not Quite Facts Yet</li>
</ul>
