.chart {
  margin: 0 auto;
  height: 200px;
}

.overview .chart {
  height: 250px;
}

.historical .chart {
  height:200px;
}

.chart rect {
  cursor:pointer;
}

.file-list li {
  border-bottom:1px solid #ccc;
  padding-bottom:10px;
  padding-top:10px;
}

.file-list li:nth-child(odd) {
  background-color: hsl(0, 0%, 98%);
}

.fade-left {
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.file-list li:nth-child(odd) .fade-left {
  background: -moz-linear-gradient(left,  rgba(249,249,249,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(249,249,249,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.fadeout {
  position: absolute;
  height: 50px;
  z-index: 10;
  float: left;
  width:70px
}

.file {
  white-space: nowrap;
}


.file-link {
  text-align: right;
  direction: rtl;
  overflow: hidden;
  height: 40px;
  font-size: 12px;
  color: #334B6D;
  display: block;
  padding: 4px 0px 12px 0;
  text-decoration: underline;
}

.file-link:hover {
  color: #3B71B1;
}

.file-chart label {
  width: 75px;
  text-align: right;
  margin-right: 10px;
}

.file-chart .chart-value {
  margin-left: 3px;
  font-size:11px;
}

.horizontal-bar {
  display:inline-block;
  height:8px;
  border-radius: 0 4px 4px 0;
}

.threshold-0 .horizontal-bar {
  background-color: #01939A;
}
.threshold-1 .horizontal-bar {
  background-color: #FFAB00;
}
.threshold-2 .horizontal-bar {
  background-color: #FF0700;
}


@media (max-width: 767px) {
  .file-link {
    text-align: center;
  }
}

.complexity, .sloc, .bugs, .lint {
  font-weight: normal;
}

.on { /* marking 'sorting buttons' active */
  font-weight: bold;
}
