<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\plato\assets\css</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>39</code></li>
<li><code>thought_uid</code> - <code>D8BE0B0C-98B6-F038-27F9-04A892A15033</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/cTzGFNqGAqAAAhZJ</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Source Plato Styles</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%38%26webthought_id%3D%33%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FCpKGFNqGAqAAAhY%32"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FcTzGFNqGAqAAAhZJ"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FcTzGFNqGAqAAAhZJ"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/D%38BE%30B%30C-%39%38B%36-F%30%33%38-%32%37F%39-%30%34A%38%39%32A%31%35%30%33%33"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/plato/assets/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-39"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cvendor%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%34%30%26webthought_id%3D%34%30%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FYFfGFNqGAqAAAhZW"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cvendor%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%34%30%26webthought_id%3D%34%30%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FYFfGFNqGAqAAAhZW"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>vendor</code> - Source Plato Vender Styles</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cmorris.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>morris.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato-display.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-display.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato-file.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-file.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato-overview.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-overview.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cplato%5Cassets%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
