<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\visual_paradigm_publish\images\icons</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>50</code></li>
<li><code>thought_uid</code> - <code>82B117A4-E1F1-50B0-FC89-2A3C2264092D</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/9vn2FNqGAqAAAhc6</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Visual Paradigm Publish Overlay Assets Images Directory</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%34%39%26webthought_id%3D%34%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%30su%32FNqGAqAAAhca"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%39vn%32FNqGAqAAAhc%36"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%39vn%32FNqGAqAAAhc%36"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%38%32B%31%31%37A%34-E%31F%31-%35%30B%30-FC%38%39-%32A%33C%32%32%36%34%30%39%32D"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/visual_paradigm_publish/images/icons/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-50"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5C-Ref.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>-Ref.gif</code> - Original</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5C-Subdiagram.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>-Subdiagram.gif</code> - Original</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CActivityDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ActivityDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CActivityDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ActivityDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CActor.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Actor.png</code> - done</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CActor_GridDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Actor_GridDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CAnalysisDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>AnalysisDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CAnalysisDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>AnalysisDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CArchiMateDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ArchiMateDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CArchiMateDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ArchiMateDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBackToTop.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BackToTop.gif</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBlockDefinitionDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BlockDefinitionDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBlockDefinitionDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BlockDefinitionDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBrainstorm.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Brainstorm.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBrainstorm_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Brainstorm_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBusinessMotivationModelDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessMotivationModelDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBusinessMotivationModelDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessMotivationModelDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBusinessProcessDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessProcessDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBusinessProcessDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessProcessDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBusinessRuleEditorDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessRuleEditorDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CBusinessRule_GridDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>BusinessRule_GridDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CChartDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ChartDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CChartDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ChartDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CClassDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ClassDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CClassDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ClassDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Cclass_model_navigator_tab.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>class_model_navigator_tab.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCloseFolder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CloseFolder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCommunicationDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CommunicationDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCommunicationDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CommunicationDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CComponentDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ComponentDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CComponentDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ComponentDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCompositeStructureDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CompositeStructureDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCompositeStructureDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CompositeStructureDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CConversationDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ConversationDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CConversationDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ConversationDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCRCCardDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CRCCardDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CCRCCardDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>CRCCardDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDataFlowDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DataFlowDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDataFlowDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DataFlowDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDataType.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DataType.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDecisionModelDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DecisionModelDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDecisionModelDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DecisionModelDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDeploymentDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DeploymentDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDeploymentDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DeploymentDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Cdiagram_navigator_tab.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>diagram_navigator_tab.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDocumentation.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Documentation.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDTBDecisionTableEditorDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DTBDecisionTableEditorDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CDTBDecisionTableEditorDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>DTBDecisionTableEditorDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CEJBDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>EJBDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CEJBDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>EJBDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CEPCDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>EPCDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CEPCDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>EPCDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CERDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ERDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CERDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ERDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFactDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FactDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFactDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FactDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFactTypeEditorDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FactTypeEditorDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFileReference.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FileReference.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFolderReference.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FolderReference.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFreehandDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FreehandDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CFreehandDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>FreehandDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CGlossary_GridDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Glossary_GridDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CGridDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>GridDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CGridDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>GridDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CImageShape.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ImageShape.png</code> - done</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CInteractionDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InteractionDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CInteractionDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InteractionDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CInteractionOverviewDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InteractionOverviewDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CInteractionOverviewDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InteractionOverviewDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CInternalBlockDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InternalBlockDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CInternalBlockDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>InternalBlockDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CLayers.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Layers.gif</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Clink.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>link.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Clogical_view_tab.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>logical_view_tab.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CMatrixDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>MatrixDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CMatrixDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>MatrixDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CMindMapDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>MindMapDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CMindMapDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>MindMapDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CModel.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Model.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Cmodel_navigator_tab.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>model_navigator_tab.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CObjectDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ObjectDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CObjectDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ObjectDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5COpenFolder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>OpenFolder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5COpenSpecification.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>OpenSpecification.gif</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5COrganizationChart.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>OrganizationChart.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5COrganizationChart_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>OrganizationChart_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CORMDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ORMDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CORMDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ORMDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5COverviewDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>OverviewDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5COverviewDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>OverviewDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CPackage.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Package.png</code> - done</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CPackageDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>PackageDiagram.png</code> - done</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CPackageDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>PackageDiagram_folder.png</code> - done</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CParametricDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ParametricDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CParametricDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ParametricDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CProcessMapDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ProcessMapDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CProcessMapDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ProcessMapDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CProfileDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ProfileDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CProfileDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ProfileDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Cproject.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>project.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CRef.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Ref.gif</code> - done - actually png</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CReportDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ReportDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CRequirementDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>RequirementDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CRequirementDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>RequirementDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CRequirement_GridDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Requirement_GridDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CStateDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>StateDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CStateDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>StateDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CStereotype.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Stereotype.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CSubdiagram.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Subdiagram.gif</code> - done - actually png</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CTermEditorDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>TermEditorDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CTextualAnalysis.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>TextualAnalysis.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CTextualAnalysis_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>TextualAnalysis_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CTimingDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>TimingDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CTimingDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>TimingDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CTransitor.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Transitor.gif</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5Ctransp.gif"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>transp.gif</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUrlReference.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UrlReference.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUseCaseDescriptionDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UseCaseDescriptionDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUseCaseDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UseCaseDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUseCaseDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UseCaseDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUseCase_GridDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UseCase_GridDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUserInterfaceDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UserInterfaceDiagram.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CUserInterfaceDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>UserInterfaceDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CWSDLDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>WSDLDiagram.png</code> - done</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CWSDLDiagram_folder.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>WSDLDiagram_folder.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cvisual_paradigm_publish%5Cimages%5Cicons%5CZachmanDiagram.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>ZachmanDiagram.png</code> - done</li>
</ul>
