<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\esdoc\css</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>30</code></li>
<li><code>thought_uid</code> - <code>E0DBEB85-FE6A-835C-F528-1E65F7AEC855</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/JsTqFNqGAqAAAhV5</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source EsDoc Style</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%39%26webthought_id%3D%32%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FooEKFNqGAqAAAhT%35"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FJsTqFNqGAqAAAhV%35"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FJsTqFNqGAqAAAhV%35"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/E%30DBEB%38%35-FE%36A-%38%33%35C-F%35%32%38-%31E%36%35F%37AEC%38%35%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/esdoc/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-30"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5CcontextMenu.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>contextMenu.css</code> - for <code>contextMenu.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5Cjquery.qtip.min.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>jquery.qtip.min.css</code> - for <code>jquery.qtip.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5Cprettify-tomorrow.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>prettify-tomorrow.css</code> - for <code>prettify.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5Cstyle-qtip.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style-qtip.css</code> - for <code>jquery.qtip.min.js</code> - extending</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Ccss%5Cstyle.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style.css</code> - main EsDoc styles - in transition</li>
</ul>
