<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\esdoc\script</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>31</code></li>
<li><code>thought_uid</code> - <code>4F2EAADD-CA13-5C47-CB22-B5B58A1E3D47</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/JzrqFNqGAqAAAhWD</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source EsDoc built-in scripts, and additional scripts plus <code>manual.js</code> custom script</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%39%26webthought_id%3D%32%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FooEKFNqGAqAAAhT%35"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FJzrqFNqGAqAAAhWD"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FJzrqFNqGAqAAAhWD"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%34F%32EAADD-CA%31%33-%35C%34%37-CB%32%32-B%35B%35%38A%31E%33D%34%37"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/esdoc/script/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-31"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%32%26webthought_id%3D%33%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fcm.aFNqGAqAAAhW%32"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%32%26webthought_id%3D%33%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fcm.aFNqGAqAAAhW%32"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>prettify</code> - Source Prettify Code</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cclipboard.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>clipboard.min.js</code> - Clipboard Copy</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5CcontextMenu.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>contextMenu.min.js</code> - Context Menu</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cjquery-%32.%31.%34.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery-2.1.4.min.js</code> - EsDocs wants</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cjquery.qtip.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery.qtip.min.js</code> - QTip2 for jQuery</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5CloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>loadCSS.js</code> - Load CSS file asynch with window.loadCSS(href, before, media, idd)`</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Clscache.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>lscache.min.js</code> - localStorage extension <a href="https://github.com/pamelafox/lscache">lscashe Github</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cmanual.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>manual.js</code> - Mark Robbins EsDoc Enhancements <code>window._</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cnotify.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>notify.min.js</code> - <a href="https://notifyjs.com/">notifyjs.com</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5ConloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>onloadCSS.js</code> - adds onload support for asynchronous stylesheets loaded with <code>loadCSS.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
