<h2 id="readme">README</h2>
<p><code>C:\_\daw\app</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>88</code></li>
<li><code>thought_uid</code> - <code>75A46ECF-E5F7-5964-BAD5-B6EFE9BA36D6</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/Oyvr5NqGAqAAAg0s</code></li>
<li><code>FmColorName</code> - <code>purple-dark</code></li>
<li><code>ColorHex</code> - <code>#BE67D5</code></li>
<li><code>ColorRgb</code> - <code>190,103,213</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5Capp"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-48.png" /></a> <em>Main Application</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FOyvr%35NqGAqAAAg%30s"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FOyvr%35NqGAqAAAg%30s"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%37%35A%34%36ECF-E%35F%37-%35%39%36%34-BAD%35-B%36EFE%39BA%33%36D%36"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/app/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-88"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5Ccomponents%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5Ccomponents%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>components</code> - React Components</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5Cimages%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5Capp%5Cimages%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>images</code> - Served Images</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5Cindex.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>index.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5Cmain.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>main.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5Cmain.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>main.jsx</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capp%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
