<h2 id="readme">README</h2>
<p><code>C:\_\daw\.scrap\eslint</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>62</code></li>
<li><code>thought_uid</code> - <code>14F04891-55B6-3D69-E7D7-10CD2D91ECF4</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/kJc5FNqGAqAAAhj5</code></li>
<li><code>FmColorName</code> - <code>yellow-dark</code></li>
<li><code>ColorHex</code> - <code>#E6F940</code></li>
<li><code>ColorRgb</code> - <code>230,249,64</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-48.png" /></a> <em>Stash for EsLint Confiigs</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%39%26webthought_id%3D%35%39%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FMxPr%35NqGAqAAAgz%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FkJc%35FNqGAqAAAhj%35"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FkJc%35FNqGAqAAAhj%35"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%31%34F%30%34%38%39%31-%35%35B%36-%33D%36%39-E%37D%37-%31%30CD%32D%39%31ECF%34"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.scrap/eslint/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-62"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cfull%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%33%26webthought_id%3D%36%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FxQ%36%35FNqGAqAAAhkJ"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cfull%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%33%26webthought_id%3D%36%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FxQ%36%35FNqGAqAAAhkJ"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>full</code> - EsLint RC File</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cother%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%34%26webthought_id%3D%36%34%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fkiu%35FNqGAqAAAhkV"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Cother%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%34%26webthought_id%3D%36%34%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fkiu%35FNqGAqAAAhkV"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>other</code> - EsLint RC file</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5Ceslintrc.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>eslintrc.json</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.scrap%5Ceslint%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
