<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\esdoc\script\prettify</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>32</code></li>
<li><code>thought_uid</code> - <code>2E30CD25-8721-78D9-6F4D-39F614AC239F</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/cm.aFNqGAqAAAhW2</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source Prettify Code</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%31%26webthought_id%3D%33%31%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FJzrqFNqGAqAAAhWD"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fcm.aFNqGAqAAAhW%32"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fcm.aFNqGAqAAAhW%32"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%32E%33%30CD%32%35-%38%37%32%31-%37%38D%39-%36F%34D-%33%39F%36%31%34AC%32%33%39F"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/esdoc/script/prettify/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-32"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/esdoc/file/.assets/esdoc/script/prettify/prettify.js.html"><img src="http://mrobbinsassoc.com/images/icons/md/esdoc-16.png" /></a> - esdoc</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/plato/files/esdoc_script_prettify_prettify_js/index.html"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - plato</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CApache-License-%32.%30.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>Apache-License-2.0.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5Cprettify.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>prettify.js</code> - Library, has css dependency</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
