<h2 id="readme">README</h2>
<p><code>C:\_\daw\.assets\fonts\unused</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>34</code></li>
<li><code>thought_uid</code> - <code>21D983FF-0E44-DF5B-AABF-EF359FD73A25</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/ZTC6FNqGAqAAAhXx</code></li>
<li><code>FmColorName</code> - <code>blue</code></li>
<li><code>ColorHex</code> - <code>#6C7FD4</code></li>
<li><code>ColorRgb</code> - <code>108,127,212</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5Cunused"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-48.png" /></a> <em>Unused Font Assets</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%33%33%26webthought_id%3D%33%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FGGMKFNqGAqAAAhUF"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5Cunused%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZTC%36FNqGAqAAAhXx"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZTC%36FNqGAqAAAhXx"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%32%31D%39%38%33FF-%30E%34%34-DF%35B-AABF-EF%33%35%39FD%37%33A%32%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.assets/fonts/unused/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-34"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5Cunused%5Cfont-awesome-%34.%37.%30.zip"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>font-awesome-4.7.0.zip</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.assets%5Cfonts%5Cunused%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
