<h2 id="readme">README</h2>
<p><code>C:\_\daw\.idea\scopes</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>58</code></li>
<li><code>thought_uid</code> - <code>7F93C788-F3ED-21E8-961C-8AF63DA8C295</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/EODxFNqGAqAAAhhS</code></li>
<li><code>FmColorName</code> - <code>gray</code></li>
<li><code>ColorHex</code> - <code>#9999A2</code></li>
<li><code>ColorRgb</code> - <code>153,153,162</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Cscopes"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-48.png" /></a> <em>Webstorm Scopes</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%31%26webthought_id%3D%35%31%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%31.Pr%35NqGAqAAAgzt"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cscopes%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FEODxFNqGAqAAAhhS"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FEODxFNqGAqAAAhhS"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%37F%39%33C%37%38%38-F%33ED-%32%31E%38-%39%36%31C-%38AF%36%33DA%38C%32%39%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.idea/scopes/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-58"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>&lt;other-scopes.xml&gt;</code></li>
</ul>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cscopes%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
