<h2 id="readme">README</h2>
<p><code>C:\_\daw\_docs\stages</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>71</code></li>
<li><code>thought_uid</code> - <code>441ACAE2-F2D5-713A-F41A-2C840EF18D86</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/aqU1FNqGAqAAAhmL</code></li>
<li><code>FmColorName</code> - <code>yellow</code></li>
<li><code>ColorHex</code> - <code>#F2FE7B</code></li>
<li><code>ColorRgb</code> - <code>242,254,123</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5Cstages"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-48.png" /></a> <em>Like <code>proceedures</code> but at project startup and config</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C_docs%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%36%38%26webthought_id%3D%36%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%35PPr%35NqGAqAAAg%30Q"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cstages%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FaqU%31FNqGAqAAAhmL"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FaqU%31FNqGAqAAAhmL"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%34%34%31ACAE%32-F%32D%35-%37%31%33A-F%34%31A-%32C%38%34%30EF%31%38D%38%36"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/_docs/stages/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-71"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>stage-&lt;x&gt;.md</code></li>
</ul>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cstages%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cstages%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>README.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C_docs%5Cstages%5CRMF-_docs-stages.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>RMF-_docs-stages.md</code></li>
</ul>
