<h2 id="readme">README</h2>
<p><code>C:\_\daw\.webstorm</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>67</code></li>
<li><code>thought_uid</code> - <code>5CDFAFC9-7D9A-0608-BCFF-43C507B71893</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/7zPr5NqGAqAAAg0J</code></li>
<li><code>FmColorName</code> - <code>blue-dark</code></li>
<li><code>ColorHex</code> - <code>#455DAC</code></li>
<li><code>ColorRgb</code> - <code>69,93,172</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.webstorm"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-48.png" /></a> <em>Global Types for Webstorm</em></p>
<p>Files in the folder contain no-ops that help Webstorm in object recognition. Example:</p>
<pre><code>Meteor.call = function(name, profileId, user, args) {};</code></pre>
<p><code>.types</code> are project based, <code>.webstorm-fixups</code> are long-running.</p>
<p>The success of this is undetermined, see also <code>.types</code>.</p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.webstorm%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%37zPr%35NqGAqAAAg%30J"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%37zPr%35NqGAqAAAg%30J"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%35CDFAFC%39-%37D%39A-%30%36%30%38-BCFF-%34%33C%35%30%37B%37%31%38%39%33"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.webstorm/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-67"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.webstorm%5Cmeteor.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>meteor.js</code> - Meteor Types</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.webstorm%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
