<h2 id="readme">README</h2>
<p><code>C:\_\daw\.idea</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>51</code></li>
<li><code>thought_uid</code> - <code>5F744C42-D86D-3084-3A4F-505515A97A9F</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/1.Pr5NqGAqAAAgzt</code></li>
<li><code>FmColorName</code> - <code>cyan-dark</code></li>
<li><code>ColorHex</code> - <code>#4A9EFE</code></li>
<li><code>ColorRgb</code> - <code>74,158,254</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-48.png" /></a> <em>Webstorm Configuration</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%31.Pr%35NqGAqAAAgzt"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2F%31.Pr%35NqGAqAAAgzt"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%35F%37%34%34C%34%32-D%38%36D-%33%30%38%34-%33A%34F-%35%30%35%35%31%35A%39%37A%39F"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/.idea/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-51"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Cdictionaries%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%34%26webthought_id%3D%35%34%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FI%37yxFNqGAqAAAhgW"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Cdictionaries%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%34%26webthought_id%3D%35%34%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FI%37yxFNqGAqAAAhgW"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>dictionaries</code> - <code>&lt;username&gt;</code> dictionaries</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CinspectionProfiles%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%33%26webthought_id%3D%35%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fl%33GxFNqGAqAAAhgg"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CinspectionProfiles%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%33%26webthought_id%3D%35%33%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fl%33GxFNqGAqAAAhgg"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>inspectionProfiles</code> - Various Inspection Profile Configurations</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CjsLinters%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%35%26webthought_id%3D%35%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fy_OxFNqGAqAAAhgq"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CjsLinters%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%35%26webthought_id%3D%35%35%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2Fy_OxFNqGAqAAAhgq"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>jsLinters</code> - Various Linter Configurations</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Clibraries%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%36%26webthought_id%3D%35%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FVGhxFNqGAqAAAhg%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Clibraries%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%36%26webthought_id%3D%35%36%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FVGhxFNqGAqAAAhg%30"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>libraries</code> - Webstorm Auto Libraries</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CrunConfigurations%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%37%26webthought_id%3D%35%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FVqZxFNqGAqAAAhhE"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5CrunConfigurations%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%37%26webthought_id%3D%35%37%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FVqZxFNqGAqAAAhhE"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>runConfigurations</code> - Webstorm Runners</li>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Cscopes%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%38%26webthought_id%3D%35%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FEODxFNqGAqAAAhhS"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a><a href="aip://open/C%3A%5C_%5Cdaw%5C.idea%5Cscopes%5CDesktop.ini%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%35%38%26webthought_id%3D%35%38%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FEODxFNqGAqAAAhhS"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>scopes</code> - Webstorm Scopes</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cdaw.iml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>daw.iml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cencodings.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>encodings.xml</code> - <code>file:charset</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cmisc.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>misc.xml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cmodules.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>modules.xml</code> - ProjectModuleManager references <code>*.iml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5C.idea%5Cvcs.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>vcs.xml</code> - VcsDirectoryMappings Git</li>
</ul>
