<h2 id="readme">README</h2>
<p><code>C:\_\daw\api</code></p>
<ul>
<li><code>brain_uid</code> - <code>B531C917-1880-8E60-9CF1-CA5C3BDD5DCC</code></li>
<li><code>thought_id</code> - <code>87</code></li>
<li><code>thought_uid</code> - <code>7BFAFF41-C9FF-C27B-8E64-F24E256821F0</code></li>
<li><code>vp_url</code> - <code>daw.vpp://shape/h_KL5NqGAqAAAgwh/Z0vr5NqGAqAAAg0l</code></li>
<li><code>FmColorName</code> - <code>green-dark</code></li>
<li><code>ColorHex</code> - <code>#40C040</code></li>
<li><code>ColorRgb</code> - <code>64,192,64</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Cdaw%5Capi"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-48.png" /></a> <em>Server</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Cdaw%5CREADME.md%3Fbrain_uid%3DB%35%33%31C%39%31%37-%31%38%38%30-%38E%36%30-%39CF%31-CA%35C%33BDD%35DCC%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Ddaw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FE%31%36L%35NqGAqAAAgwr"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capi%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZ%30vr%35NqGAqAAAg%30l"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/daw.vpp%3A%2F%2Fshape%2Fh_KL%35NqGAqAAAgwh%2FZ%30vr%35NqGAqAAAg%30l"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%37BFAFF%34%31-C%39FF-C%32%37B-%38E%36%34-F%32%34E%32%35%36%38%32%31F%30"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprismteam/daw/src/master/api/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/B531C917-1880-8E60-9CF1-CA5C3BDD5DCC#-87"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/daw/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/daw/vp/publish/content/PackageDiagram_h_KL5NqGAqAAAgwh.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capi%5Cget-query-params.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>get-query-params.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capi%5Chttp-handle-ads.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>http-handle-ads.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capi%5Chttp-handle-api.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>http-handle-api.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capi%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Cdaw%5Capi%5Cserver.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>server.js</code></li>
</ul>
